%toc<
  %abstract<
    fa-abstract
  %descriptive_summary<
    fa-desc-summary
  %bioghist<
    fa-bioghist
  %scopecontent<
    fa-scopecontent
  %prefercite<
    fa-prefercite
  %subjects<
    fa-subjects
  %restrictions<
    fa-restrictions
  %contents<
    fa-contents
